*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*{outline: 1px solid red !important}*/

.title{
  color: white;
  background-color: #33BEBE;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
}

.image{
  max-width: 25%;
  margin: 10px;
}

.text{
  color: #7C8B88;
  max-width: 75%;
  margin: 10px;
  text-align: justify;
}

.app {
  display: flex;
}
